<app-nav></app-nav>

<main class="cs-page-wrapper">
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
      </ol>
    </div>
  </nav>

  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">

      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-sidebar></app-sidebar>
      </aside>

      <!-- Content -->
      <div class="col-lg-8 ml-auto">
        <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
          <h1 class="h2 mb-0">Mi Perfil</h1>

        </div>
        <form #actualizarForm="ngForm" (ngSubmit)="actualizar(actualizarForm)">
          <div class="row pb-3">
            <div class="col-sm-6 form-group">
              <label for="ac-fn">Nombres</label>
              <input type="text" class="form-control form-control-lg" name="nombres" [(ngModel)]="cliente.nombres" placeholder="Nombres Completos" required>
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-ln">Apellidos</label>
              <input type="text" class="form-control form-control-lg" name="apellidos" [(ngModel)]="cliente.apellidos" placeholder="Apellidos Completos" required>
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">Correo Electronico</label>
              <input type="email" class="form-control form-control-lg" placeholder="ann.black@example.com" value="{{ cliente.email }}" readonly>
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-phone">Contraseña</label>
              <input type="password" class="form-control form-control-lg" placeholder="Nueva Contraseña" name="password" [(ngModel)]="cliente.password" autocomplete="new-password">
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-email">Telefono</label>
              <input type="number" class="form-control form-control-lg" placeholder="941165733" name="telefono" [(ngModel)]="cliente.telefono" required>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-email">Fecha de Nacimiento</label>
              <input type="date" class="form-control form-control-lg" name="f_nacimiento" [(ngModel)]="cliente.f_nacimiento" required>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-email">DNI</label>
              <input type="number" class="form-control form-control-lg" placeholder="73897044" name="dni" [(ngModel)]="cliente.dni" required>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-country">Genero</label>
              <select id="ac-country" class="custom-select custom-select-lg" required name="genero" [(ngModel)]="cliente.genero">
                <option value="" selected disabled>Seleccionar</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-city">País</label>
              <select id="ac-city" class="custom-select custom-select-lg" required name="pais" [(ngModel)]="cliente.pais">
                <option value="" disabled selected>Seleccionar</option>
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brazil">Brazil</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Perú">Perú</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Venezuela">Venezuela</option>
              </select>
            </div>

          </div>
          <button type="submit" class="btn btn-primary btn-lg">&nbsp;Actualizar Perfil&nbsp;</button>
        </form>
      </div>
    </div>
  </section>


</main>

<app-footer></app-footer>
